@model ElifTechTest.Models.CompanyModels

@{
    ViewBag.Title = "TreeCompany";
}
<h2>TreeCompany</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MainCompany.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MainCompany.EstimatedAnnualEarnings)
        </th>
        <th></th>
    </tr>


</table>
